<div class="">
  <p-button (click)="showDialog()" label="format" />
  <p-dialog
    header="Edit"
    [modal]="true"
    [(visible)]="visible"
    [style]="{ width: '50rem' }"
  >
    <app-pick></app-pick>
    <div class="">
      <p-button label="Save" (click)="visible = false" />
      <p-button label="Cancel" severity="secondary" (click)="visible = false" />
    </div>
  </p-dialog>
</div>

<div class="card">
  <p-tabView>
    <p-tabPanel #tab *ngFor="let tab of tabs" [header]="tab.title">
      <!-- <div style="background-color: blue;">meow </div> -->
      <form (ngSubmit)="calculate()">
        <input
        style="width: 400px; margin-bottom: 25px;"
          *ngIf="tab.id == 'tab0'"
          type="text"
          [(ngModel)]="formulaBar"
          (input)="formulaLikhchhi($event)"
          [ngModelOptions]="{ standalone: true }"
        />
      </form>
      <button *ngIf="tab.id == 'tab1'" (click)="getSheetDetails()">Add</button>
      <p *ngIf="tab.id == 'tab1'">{{ result }}</p>
      <div [id]="tab.id"></div>
    </p-tabPanel>

    <p-tabPanel>
      <ng-template pTemplate="header">
        <p-button icon="pi pi-plus" (click)="addTabs()"> </p-button>
      </ng-template>
    </p-tabPanel>
  </p-tabView>
</div>
