<div class="">
    <p-button (click)="showDialog()" label="format" />
    <p-dialog header="Edit" [modal]="true" [(visible)]="visible" [style]="{ width: '50rem' }">
    
    <app-pick></app-pick>        
        <div class="">
            <p-button label="Save" (click)="visible = false" />
            <p-button label="Cancel" severity="secondary" (click)="visible = false" />            
        </div>
    </p-dialog>
</div>


<div class="card">
    <p-tabView>
    <p-tabPanel #tab *ngFor="let tab of tabs" [header]="tab.title">
        <div style="background-color: blue;">meow </div>
        
            <div  [id]="'example-table'"></div>
        
    </p-tabPanel>    
    
    <p-tabPanel >
        <ng-template pTemplate="header">
           <p-button icon="pi pi-plus" (click)="addTabs()">
           </p-button>
        </ng-template>
     </p-tabPanel>
    </p-tabView>

</div>
